// 首页
.theme {
    position: relative;

    .container {
        position: absolute;
        top: 20px;
        left: 15px;

        .core {
            width: 520px;
            // padding: 15px;
            // background: url('@/assets/houchen/bg.png') no-repeat;
            // background-size: 100% 100%;
            border-radius: 20px;
            box-shadow: 20px 20px 60px #bebebe,
                -20px -20px 60px #ffffff;

            .theme_box {
                // background: #fff;
                border-radius: 2px;
                margin-bottom: 10px;
                background: url('@/assets/houchen/bg.png') no-repeat;
                background-size: 100% 100%;
                // font-size: 16px;
                // color: #222226;
                font-size: 24px;
                color: #fff;
                pointer-events: auto;


                .head {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    position: relative;
                    // padding: 3px 5px;
                    border-bottom: 1px solid #e8e8ed;
                    padding: 5px 16px;
                    font-weight: 500;

                    .head_loader {
                        padding: 5px;
                        border-radius: 50%;
                        height: 36px;
                        width: 36px;
                        animation: rotate_3922 1.2s linear infinite;
                        background-color: #9b59b6;
                        background-image: linear-gradient(#9b59b6, #84cdfa, #5ad1cd);




                        span {
                            position: absolute;
                            border-radius: 50%;
                            height: 100%;
                            width: 100%;
                            background-color: #9b59b6;
                            background-image: linear-gradient(#9b59b6, #84cdfa, #5ad1cd);
                        }

                        span:nth-of-type(1) {
                            filter: blur(5px);
                        }

                        span:nth-of-type(2) {
                            filter: blur(10px);
                        }

                        span:nth-of-type(3) {
                            filter: blur(25px);
                        }

                        span:nth-of-type(4) {
                            filter: blur(50px);
                        }

                        &::after {
                            content: "";
                            position: absolute;
                            top: 5px;
                            left: 5px;
                            right: 5px;
                            bottom: 5px;
                            background-color: #fff;
                            border: solid 5px #ffffff;
                            border-radius: 50%;
                        }

                        @keyframes rotate_3922 {
                            from {
                                transform: translate(0%, 0%) rotate(0deg);
                            }

                            to {
                                transform: translate(0%, 0%) rotate(360deg);
                            }
                        }
                    }

                    .head_text {
                        font-weight: bolder;
                    }
                }

                .content {
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    padding: 16px;
                    font-size: 16px;

                    .box {
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        // text-align: center;
                        width: 150px;
                        height: 50px;
                        background: url('@/assets/houchen/itembg.png') no-repeat;
                        background-size: 100% 100%;

                        .text {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-around;
                            align-items: center;
                        }

                        img {
                            width: 40px;
                            height: 40px;
                        }
                    }



                }

                // 三大主导产业


                .leading_industry {
                    width: 100%;
                    padding: 10px;

                    .box {
                        display: flex;
                        justify-content: space-around;
                        padding-bottom: 5px;
                        margin-bottom: 5px;
                        cursor: pointer;
                        border-bottom: 1px solid rgb(216, 208, 208);
                    }

                    .box:last-child {
                        padding-bottom: 0px;
                        margin-bottom: 0px;
                        border-bottom: 0;
                    }

                    .title {
                        font-size: 18px;
                        letter-spacing: 2px;
                        font-weight: 400;
                    }

                    .production {
                        position: relative;

                        .value {
                            font-size: 16px;
                            text-align: center;

                            .num {
                                font-size: 16px;
                            }

                            .unit {
                                margin-left: 3px;
                                font-size: 14px;
                            }
                        }

                    }

                    .type {
                        text-align: center;
                        font-size: 16px;
                    }
                }

                // 土豪排行榜
                .table {
                    position: relative;

                    .ranking {
                        img {
                            width: 24px;
                            height: 24px;
                        }
                    }

                }
            }
        }
    }
}

// 全貌
.panorama_theme {
    position: relative;

    .card_container {
        position: absolute;
        right: 15px;
        top: 15px;

        .card {
            display: block;
            position: relative;
            max-width: 350px;
            // max-height: 320px;
            background-color: #f2f8f9;
            border-radius: 10px;
            padding: 2em 1.2em;
            margin: 12px;
            text-decoration: none;
            z-index: 0;
            overflow: hidden;
            background: linear-gradient(135deg, #364a60, #384c6c);
            font-family: Arial, Helvetica, sans-serif;

            pointer-events: auto;

            &::before {
                content: '';
                position: absolute;
                z-index: -1;
                top: -16px;
                right: -16px;
                background: linear-gradient(to bottom, #c3e6ec, #a7d1d9);
                height: 32px;
                width: 32px;
                border-radius: 32px;
                transform: scale(1);
                transform-origin: 50% 50%;
                transition: transform 0.35s ease-out;
            }

            &:hover:before {
                transform: scale(47);
            }

            &:hover .small_desc {
                transition: all 0.5s ease-out;
                color: #452c2c;
            }

            &:hover .card_title {
                transition: all 0.5s ease-out;
                color: #ffffff;
            }

            .card_title {
                color: #262626;
                font-size: 1.5em;
                line-height: normal;
                font-weight: 700;
                margin-bottom: 0.5em;
            }

            .small_desc {
                font-size: 1em;
                font-weight: 400;
                line-height: 1.5em;
                color: rgba(255, 255, 255, 0.8);
            }

            .small_desc {
                font-size: 1em;
            }

            .go_corner {
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                width: 2em;
                height: 2em;
                overflow: hidden;
                top: 0;
                right: 0;
                background: linear-gradient(135deg, #6293c8, #384c6c);
                border-radius: 0 4px 0 32px;
                cursor: pointer;
            }

            .go_arrow {
                margin-top: -4px;
                margin-right: -4px;
                color: white;
                font-family: courier, sans;
            }
        }
    }

    .theme_box {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        /* align-items: center; */
        height: 90vh;
        padding-left: 20px;
    }

    .card {
        max-width: 320px;
        border-radius: 10px;
        background-color: rgba(31, 41, 55, .6);
        padding: 15px;
        pointer-events: auto;
    }

    .infos {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        grid-gap: 12px;
        gap: 12px;
    }

    p {
        margin: 0;
    }

    .image {
        height: 100px;
        width: 100px;
        border-radius: 10px;
        background-color: rgba(45, 44, 47, .3);
        // background-color: rgb(118, 36, 194);
        // background: linear-gradient(to bottom right, rgb(118, 36, 194), rgb(185, 128, 240));

        img {
            width: 100%;
            height: 100%;
        }
    }

    .info {
        height: 100px;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .name {
        font-size: 24px;
        line-height: 1.25;
        font-weight: 500;
        color: rgba(255, 255, 255, 1);
    }

    .function {
        font-size: 14px;
        line-height: 1.25;
        color: rgba(156, 163, 175, 1);
    }

    .stats {
        width: 100%;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 1);
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        // font-size: 0.75rem;
        // line-height: 1rem;
        color: rgba(0, 0, 0, 1);
    }

    .flex {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 4px;
    }

    .state_value {
        font-size: 12px;
        font-weight: 700;
        color: rgb(118, 36, 194);
    }
}